

@*@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="background-image: url(/images/img_2554.jpg); background-position-y: bottom;">
            <h1>CART</h1>
        </div>
    </div>
}*@
    <div style="margin-top:70px;">
        <h1>Shopping Cart</h1>


        <div class="CartData">
            @await Component.InvokeAsync("ShoppingCart")
        </div>

        <br>
        <a asp-controller="shop" asp-action="index">
            <div class="cart-btn">
                Continue Shopping
            </div>
        </a>
    </div>