@{
    ViewData["Title"] = "Home Page";
}

@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="        background-image: url(/images/img_2554.jpg); background-position-y: bottom;">
            <h1>ARAPAOA ISLAND</h1>
        </div>
    </div>
}


<h1>Arapaoa Island</h1>
<div class="twocolumns">
    <p>
        Arapaoa Island is the fifth largest island
        of mainland New Zealand and is located
        in the outer Queen Charlotte Sounds. This remote island
        measures around 40 km by 5 km and
        currently has a human population of
        about 50 people.<br><br>
        The land is a mixture of virgin native bush, regenerating native bush, farmland and forestry. The Eastern side of the island drops into Cook Strait and the terrain is usually steep and the weather often wild.
    </p>
    <p>
        Arapaoa Island was inhabited by Māori for many years before European settlement. The island was an
        important site for interaction between North and South Island Māori tribes and also was the site of some of the earliest European and Māori encounters.<br><br>
        In 2014 the island was renamed "Arapaoa Island" from "Arapawa Island", to reflect its correct Māori pronunciation
    </p>
</div>