@{
    ViewData["Title"] = "Home Page";
}

@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="        background-image: url(/images/img_2554.jpg); background-position-y: bottom;">
            <h1>ABOUT US</h1>
        </div>
        </div>
}

<p>
    We are a small Family owned business based in the Marlborough sounds. We harvest our own Manuka and kanuka to make the oils for our delightful handmade products.
</p>

