@{
    ViewData["Title"] = "About Manuka";
}


@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="background-image:url(/images/nature2.jpg)">
            <h1>Manuka Oil Production</h1>
        </div>
    </div>
}

<h1>
    Mānuka Oil Production
</h1>
<p>
    <img src="manuka_trees.jpg" align="right" valign="bottom" width="271" height="178" border="5" alt="mānuka Trees on Arapaoa Island">
    <span class="dropcap">T</span>o produce Arapaoa Island mānuka oil, foliage is trimmed off wild-sown mānuka trees, trees grown without the use of any pesticides or chemicals.&nbsp; After trimming,
    the tree remains alive and healthy and can be trimmed again in one or two
    years.<br><br>
    Only the foliage contains significant amounts of oil. Oil is extracted from the foliage
    by steam distillation. In this process, steam is passed through the foliage
    and when condensed it contains a small quantity of pure essential oil. This oil
    Singles on top of the condensed water and is drawn off.<br><br>
</p>
<h2>We Kānuka and Mānuka Oils Separately</h2>
<p>
    <span class="dropcap">"M</span>ānuka" actually refers to two species - <i>Kunzea ericoides</i> ('Kānuka' or 'White Mānuka') and <i>Leptospermum scoparium</i> ('Mānuka' or 'Red Mānuka'). Unlike some other mānuka oil producers, we distill mānuka and kānuka oils separately. This lets us combine or separate the properties of the two oils as best suits each product. We can also offer both oils in pure form for separate sale.<br><br>
    If you try our mānuka and kānuka pure essential oils you will agree that the two oils are very different. On the other hand some other "mānuka" oils available are actually mostly kānuka, or a variable mixture of mānuka and kānuka oils, depending on what foilage was cut on the day.<br><br>
</p>
<h2>We Use Gentle Steam Distillation</h2>
<p>
    <span class="dropcap">A</span>t Arapaoa Island Mānuka we use a gentle ambient-pressure distillation process. It is common to use super-heated steam for fast oil extraction, but while our lower temperatures take longer to release the oil, they result in a much nicer and more fragrant oil, without heat damage or a 'burnt' smell.

</p>
