@{
    ViewData["Title"] = "About Manuka";
}


@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="background-image:url(/images/nature2.jpg)">
            <h1>Manuka Oil Chemistry</h1>
        </div>
    </div>
}

<h1>
    Mānuka Oil Chemistry
</h1>
<p>
    <span class="dropcap">O</span>ur products contain the fragrant oils of red mānuka <i>(Leptospermum scoparium)</i> and white mānuka ('kānuka') <i>(Kunzea ericoides)</i>, native New Zealand
    tea-trees that are abundant on Arapaoa Island.<br>
    <br>
    Mānuka products were commonly used by Māori to remedy a wide range of ailments.&nbsp; Today mānuka oil is known for its antibacterial, antifungal, pain relieving, decongestant and muscle relaxing
    properties. Arapaoa Island mānuka yields an oil with a particularly sweet and pleasant fragrance.<br>
    <br>
    Mānuka oils typically contain 120 or so different compounds. Properties reported in the scientific literature for some of the main compounds are given below.<br>
</p>

<h2>Alpha-pinene</h2>

<p>
    Skin absorption enhancer. Anti-microbial activity.<br>
</p>

<h2>Cadinene</h2>

<p>
    Anti-inflammatory activity.<br>
</p>

<h2>Caryophyllene</h2>

<p>
    Anti-fungal and anti-bacterial activity. Anti-inflammatory activity. Possible muscle relaxant. Possible anticarcinogenic agent. Anti-histamine activity. Anti-malarial activity reported.<br>
</p>

<h2>1,8-Cineole</h2>

<p>
    Skin absorption enhancer. Anti-inflammatory in bronchial asthma. Analgesic activity. Kills lice. Anti-bacterial.<br>
</p>

<h2>Elemene</h2>

<p>
    Possible anti-tumor/tumor preventative activity.<br>
</p>

<h2>Limonene</h2>

<p>
    Skin absorption enhancer. Lice/flea killer. Potential anti-tumor/tumor preventative properties (undergoing testing for treatment of human mammary cancer).<br>
</p>

<h2>Linalool</h2>

<p>
    Anti-bacterial activity.<br>
</p>

<h2>Myrcene</h2>

<p>
    Non-opiate, non-asprin-like peripheral analgesic (pain-reliever). Anti-mutagenic activity.<br>
</p>

<h2>Selinene</h2>

<p>
    Auto-oxidation products reported as showing antimalarial activity.<br>
</p>
