@{
    ViewData["Title"] = "About Manuka";
}


@section Banner
{
    <div style="background-color:#9dc46d;">
        <div class="banner2" style="background-image:url(/images/nature2.jpg)">
            <h1>ABOUT MANUKA</h1>
        </div>
    </div>
}

<div class="twocolumns">
    <p>
        Mānuka Oil is a safe and effective natural plant oil. It is perfect for maintaining healthy skin naturally. People use Mānuka oil for a range of skin problems, eczema, dermatitis, viral and bacterial infections, irritations, fungal conditions, thrush, inflammation, cold sores, scarring, after-burn care, stings, bites, cracked heels.
    </p><p>
        Arapaoa Island Mānuka distils top quality Mānuka (Leptospermum scoparium) oil and Kānuka (Kunzea ericoides) oil on remote Arapaoa Island, New Zealand. Our 'A.M.O.' product line features these two pure oils (try Kānuka for cold sores), two full-strength healing mānuka oil products (Sports Cream and our famous Skintreat) and a small bodycare range to encourage people to benefit from mānuka oils every day.
    </p>
</div>
